/* OVERALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: rgba(190, 228, 235, 1);
  --bg-color2: rgba(0, 0, 0, 1);
  --navbar-color: rgba(0, 0, 0, 1);
  --primary-color: rgba(0, 0, 0, 1);
}
html,
body {
  background-color: var(--bg-color);
  font-family: "Pokemon", Helvetica, sans-serif;
  color: var(--primary-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}

/* GENERAL */
h1 {
  font-family: "Pokemon", Times, serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  padding-bottom: 1.3rem;
  text-align: center;
}

h2 {
  font-family: "Pokemon", Times, serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  padding-bottom: 1.3rem;
  text-align: center;
}
p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: var(--primary-color);
  padding-bottom: 1rem;
  text-align: justify;
}
figcaption {
  color: var(--primary-color);
  font-size: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1.3rem;
  text-align: center;
  text-transform: capitalize;
}

/* HEADER */
header {
  grid-area: header;
}
#welcome-text {
  padding-top: 2rem;
}

/* MAIN */
main {
  grid-area: main;
  padding: 0px, 20px, 20px, 20px;
}

.all-projects {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.project img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.project img:hover {
  transform: scale(1.1);
}
.project a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.acces-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acces-denied {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.poke-viewer {
  background-color: white;
  border-radius: 8px;

  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.poke-viewer img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.poke-viewer h2,
.poke-viewer h3 {
  color: #333;
  margin: 10px 0;
}

.poke-viewer p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

/* ASIDE */
aside {
  grid-area: aside;
  padding: 20px;
}

.ad {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.ad img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.ad h3 {
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}

/*footer*/
footer {
  grid-area: footer;
}

/* pokemain */
.card-style {
  display: block;
  width: auto;
  max-height: 150px;
  margin: 10px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}
