<<<<<<< HEAD

=======
<aside class="col-md-3 order-first order-md-last bg-light">
  <div class="aside-content">
    <h3>Jouw Pokémon</h3>
    <h4>Bulbasaur</h4>
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
      class="animation"
      alt="jouw pokémon"
      width="100%"
      height="100%"
    />
    <h3>Stats</h3>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Attack</th>
          <td>9000</td>
        </tr>
        <tr>
          <th scope="row">Stamina</th>
          <td>9000</td>
        </tr>
        <tr>
          <th scope="row">Defence</th>
          <td>9000</td>
        </tr>
        <tr>
          <th scope="row">Hit Points</th>
          <td>9000</td>
        </tr>
      </tbody>
    </table>
    <h3>Deel jouw Pokémon!</h3>
    <ul class="list-inline">
      <li>
        <a href="#"><i class="bi bi-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="bi bi-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </li>
    </ul>
  </div>
  <form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</aside>
>>>>>>> production
