<!DOCTYPE html>
<html lang="nl-BE">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Ontdek het ultieme Pokémon-project voor AP Hogeschool, met 6 geweldige features om je Pokémon-ervaring te verbeteren. Leer, speel en verken de wereld van Pokémon op Mew.Tech."
		/>
		<meta
			name="keywords"
			content="Pokémon, AP Hogeschool, project, webpagina, features, spel, educatief, Mew.Tech, Pikachu, Charizard, Squirtle, Bulbasaur, Eevee, Pokeball, Mewtwo"
		/>
		<meta name="author" content="Cedric Demaeschalk - Ian Mondelaers - Jesus O'Bulan" />
		<title>Mew.Tech</title>
		<link rel="icon" type="image/x-icon" href="../../assets/images/logo-wpl/logo.webp" />
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/assets/fonts/style.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
			rel="stylesheet"
		/>
		<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
	</head>
	<body class="landing-page">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="pokeMain.html"
						><img src="../../assets/images/logo-wpl/logo.webp" width="50" height="50"
					/></a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="./pokeMain.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Duel</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./pokeCatcher.html">Catch</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./pokeCompare.html">Vergelijk</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./pokeDex.html">PokeDex</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./pokeGuess.html">Wie is het?</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="./pokeViewer.html">Mijn Pokémon</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>