<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ontdek het ultieme Pokémon-project voor AP Hogeschool, met 6 geweldige features om je Pokémon-ervaring te verbeteren. Leer, speel en verken de wereld van Pokémon op Mew.Tech."
    />
    <meta
      name="keywords"
      content="Pokémon, AP Hogeschool, project, webpagina, features, spel, educatief, Mew.Tech, Pikachu, Charizard, Squirtle, Bulbasaur, Eevee, Pokeball, Mewtwo"
    />
    <meta
      name="author"
      content="Cedric Demaeschalk - Ian Mondelaers - Jesus O'Bulan"
    />
    <title>Mew.Tech</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.webp" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/fonts/style.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="./css/styles/css-pokemon-gameboy.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>
  
  <body class="landing-page">
    <header class="framed">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/main"
          ><img
            height="50px"
            width="50px"
            src="./assets/images/logo.webp"
            alt="logo"
        /></a>
        <img
          height="50px"
          width="50px"
          src="./assets/images/bulbasaur.png"
          class="animation"
          alt=""
        />
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/battler">Duel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catcher">Catch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compare">Vergelijk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokeDex">PokéDex</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokeGuess">Wie is het?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/viewer">Mijn Pokémon</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
