<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ontdek het ultieme Pokémon-project voor AP Hogeschool, met 6 geweldige features om je Pokémon-ervaring te verbeteren. Leer, speel en verken de wereld van Pokémon op Mew.Tech."
    />
    <meta
      name="keywords"
      content="Pokémon, AP Hogeschool, project, webpagina, features, spel, educatief, Mew.Tech, Pikachu, Charizard, Squirtle, Bulbasaur, Eevee, Pokeball, Mewtwo"
    />
    <meta
      name="author"
      content="Cedric Demaeschalk - Ian Mondelaers - Jesus O'Bulan"
    />
    <title>Mew.Tech</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.webp" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/assets/fonts/style.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      defer
    ></script>
  </head>
  <body>
    <header>
      <div
        class="login-container"
        style="display: flex; justify-content: center"
      >
        <a
          href="/login"
          class="btn btn-danger btn-sm mt-3"
          style="margin-right: 10px"
          >Login</a
        >
        <a href="/register" class="btn btn-danger btn-sm mt-3">Registratie</a>
      </div>
    </header>
  </body>
</html>
