<%- include("partials/landingPageHeader") %>

<body class="landing-page">
  <header>
    <a href="javascript:history.go(-1)" class="back-arrow">
      <div>
        <img
          src="https://cdn-icons-png.flaticon.com/512/748/748091.png"
          alt="Back arrow"
        />
      </div>
    </a>
  </header>

  <main>
    <section>
      <img
        src="../../assets/images/acces/acces.denied.webp"
        width="40%"
        alt="Acces denied image"
        class="mx-auto d-block mt-5 img img-fluid border border-danger border-3 rounded"
      />
    </section>
  </main>

  <footer class="container mt-3 fs-3"></footer>
</body>
