<%- include("partials/landingPageHeader.ejs") %>
<body class="landing-page">
  <header>
    <h1 id="welcome-text">Welkom bij het WPL project van Mew.Tech</h1>
  </header>

  <main>
    <section>
      <h2>Kies hier uit de verschillende projecten</h2>

      <div class="container img-fluid">
        <div class="row">
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/fifa-logo.png"
                class="card-img-top"
                alt="fifa-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/acces-denied"
                  class="btn btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >start</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/fortnite-logo.png"
                class="card-img-top"
                alt="fortnite-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/acces-denied"
                  class="btn btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >start</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/legoMasters-logo.png"
                class="card-img-top"
                alt="LM-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/acces-denied"
                  class="btn btn-index btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >start</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/lotr-logo.png"
                class="card-img-top"
                alt="lotr-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/acces-denied"
                  class="btn btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >start</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/mtg-logo.png"
                class="card-img-top"
                alt="MTG-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/acces-denied"
                  class="btn btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >start</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 py-1">
            <div class="card index-card h-100 border border-1 border-dark">
              <img
                src="./assets/images/logo-wpl/pokemon-logo.png"
                class="card-img-top"
                alt="Pokémon-logo"
              />
              <div class="card-body text-center">
                <a
                  href="/main"
                  class="btn btn-light rounded-pill border-1 border-dark text-uppercase fs-3"
                  >Start</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="container mt-3 fs-3">
    <p>copyright &#169;2024 MewTech. Alle rechten voorbehouden.</p>
  </footer>
</body>
