<%- include("partials/landingPageHeader") %>
<body class="landing-page">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card my-5">
            <div class="card-body">
              <h3 class="card-title text-center">Login</h3>
              <% if (message) { %>
              <p class="<%= message.type %>"><%= message.message %></p>
              <% } %>
              <form action="/login" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-danger">Login</button>
                <p class="text-gray-600 mt-4 text-center">
                  <a
                    href="/register"
                    class="text-blue-600 hover:underline dark:text-blue-500"
                    >Maak een account</a
                  >.
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("partials/footer") %>
</body>
