<%- include('partials/header') %>
<main>
  <div class="catchIMG">
    <div class="container">
      <div class="row">
        <section class="col-md-9">
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-4 offset-md-2">
                <div class="card-header text-white">
                  <h5 class="card-title text-center">
                    Je Pokémon: Bulbasaur #001
                  </h5>
                </div>
                <img
                  src="./assets/images/bulbasaur.png"
                  class="animation"
                  class="card-img-top"
                  alt="Bulbasaur"
                />
                <div class="card-body">
                  <h6 class="text-center">HP</h6>
                  <div class="progress-bar-container">
                    <label for="progressBarR"></label>
                    <progress
                      id="progressBarR"
                      class=".p1 - .p100"
                      value="20"
                      max="100"
                    >
                      20%
                    </progress>
                  </div>
                  <!-- Stats -->
                  <div class="row">
                    <div class="col-6">
                      <h6 class="text-center">Aanval</h6>
                      <p class="text-center">49</p>
                    </div>
                    <div class="col-6">
                      <h6 class="text-center">Verdediging</h6>
                      <p class="text-center">49</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 offset-md-1">
                <div class="card-header text-white">
                  <h5 class="card-title text-center">
                    Tegenstander: Charmander #004
                  </h5>
                </div>
                <img
                  src="./assets/images/bulbasaur.png"
                  class="animation"
                  class="card-img-top"
                  alt="Charmander"
                />
                <div class="card-body">
                  <h6 class="text-center">HP</h6>
                  <div class="progress-bar-container">
                    <label for="progressBarR"></label>
                    <progress
                      id="progressBarR"
                      class=".p1 - .p100"
                      value="60"
                      max="100"
                    >
                      60%
                    </progress>
                  </div>

                  <!-- Stats -->
                  <div class="row">
                    <div class="col-6">
                      <h6 class="text-center">Aanval</h6>
                      <p class="text-center">52</p>
                    </div>
                    <div class="col-6">
                      <h6 class="text-center">Verdediging</h6>
                      <p class="text-center">43</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center pb-3">
              <button type="button" class="btn btn-danger btn-lg">
                Aanvallen
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
