<%- include('partials/header') %>
<main class="catchIMG">
  <div class="container">
    <div class="row">
      <section class="col-md-9">
        <h2>Wie is die pokemon?</h2>
        <div class="container text-center mt-3">
          <p class="lead">Raad de pokemon!</p>
        </div>
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card pokedex-card">
                <div class="pokedex-header text-center">
                  <h3>Wie is deze Pokémon?</h3>
                </div>
                <div class="pokedex-body text-center">
                  <img src="" class="card-img-top" alt="Who's that Pokémon?" />
                  <form action="pokeGuess.html" method="post">
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Raad de Pokémon"
                        aria-label="Raad de Pokémon"
                        aria-describedby="button-addon2"
                      />
                      <button
                        class="btn btn-danger"
                        type="submit"
                        id="button-addon2"
                      >
                        Raad
                      </button>
                    </div>
                  </form>
                  <!-- Statistieken sectie -->
                  <div class="pokemon-guess-stats">
                    <h5 class="text-center">Jouw Statistieken</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Juist geraden: <span id="correctGuesses">0</span>
                      </li>
                      <li class="list-group-item">
                        Fout geraden: <span id="incorrectGuesses">0</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
