<%- include('partials/header') %>
<main>
  <div class="container">
    <div class="row">
      <section class="col-md-12">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand">Zoek jouw Pokémon</a>
          </div>
        </nav>
        <div class="card-group py-3">
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Bulbasaur #001
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Ivysaur #002
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Venusaur #003
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Charmander #004
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Charmeleon #005
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Charizard #006
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Squirtle #007
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Wartortle #008
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              blastoise #009
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Caterpie #010
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Metapod #011
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
          <div class="card card-myPoke">
            <h5 class="card-title text-center main-card-header">
              Butterfree #012
            </h5>
            <img src="" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="./pokeDex.html"
                >Check Stats!</a
              >
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/aside') %>
    </div>
  </div>
</main>
