<%- include('partials/header') %>
<main>
  <div class="container">
    <div class="row">
      <section class="col-md-9">
        <div class="nes-container with-title is-centered">
          <h2 class="title">Welkom</h2>
          <ul class="framed buttons">
            <li>
              <button><a href="/battler">PokéDuel Arena</a></button>
            </li>
            <li>
              <button><a href="/catcher">Pokémon Safari Zone</a></button>
            </li>
            <li>
              <button><a href="/compare">PokéAnalyse</a></button>
            </li>
            <li>
              <button><a href="/pokedex">Pokédex</a></button>
            </li>
            <li>
              <button><a href="/pokeGuess">Wie is Die Pokémon?</a></button>
            </li>
            <li>
              <button><a href="/viewer">Mijn Pokémon</a></button>
            </li>
          </ul>
        </div>
      </section>
      <%- include('partials/aside') %>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
