<%- include('partials/header') %>
<main class="battleIMG">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 links">
        <ul>
          <li><a href="/viewer">Mijn Pokémon</a></li>
          <li><a href="/catcher">Catcher</a></li>
          <li><a href="/battler">Battler</a></li>
          <li><a href="/compare">PokéAnalyse</a></li>
          <li><a href="/pokedex">Pokédex</a></li>
          <li><a href="/pokeGuess">Wie is Die Pokémon?</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
