<%- include('partials/header') %>
<main>
  <div class="container">
    <div class="row">
      <section class="col-md-9">
        <h2>Welkom</h2>

        <div class="container img-fluid">
          <div class="row">
            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h5 class="main-card-header text-center py-2 fs-3">
                  PokeDuel Arena
                </h5>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokeBattler-IMG.webp"
                  class="card-img-top"
                  alt="poke battler"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    kies je Pokémon en daag tegenstanders uit in gevechten.<br />
                  </p>
                  <a
                    href="./pokeBattler.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h5 class="main-card-header text-center py-2 fs-3">
                  Pokémon Safari Zone
                </h5>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokeCatcher-IMG.webp"
                  class="card-img-top"
                  alt="poke catcher"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    Zet je schrap voor avontuur en vang je favoriete Pokémon.<br />
                  </p>
                  <a
                    href="./pokeCatcher.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h5 class="main-card-header text-center py-2 fs-3">
                  PokéAnalyse
                </h5>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokeCompare-IMG.webp"
                  class="card-img-top"
                  alt="poke compare"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    Vergelijk je Pokémon met anderen.<br />
                    Ontdek wie de sterkste!
                  </p>
                  <a
                    href="./pokeCompare.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h5 class="main-card-header text-center py-2 fs-3">Pokedéx</h5>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokedex-IMG.webp"
                  class="card-img-top"
                  alt="pokedex"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    Ontdek en leer alles over Pokémon.<br />
                    Jouw gids voor Pokémon-details!
                  </p>
                  <a
                    href="./pokeDex.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h3 class="main-card-header text-center py-2 fs-3">
                  Wie is Die Pokémon?
                </h3>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokeGuess-IMG.webp"
                  class="card-img-top"
                  alt="poke guess"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    Test je Pokémon-kennis.<br />Kun jij ze allemaal raden op
                    basis van silhouetten en hints?
                  </p>
                  <a
                    href="./pokeGuess.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>

            <div class="col-md-4 py-1">
              <div class="card h-100 main-card">
                <h5 class="main-card-header text-center py-2 fs-3">
                  Mijn Pokémon
                </h5>
                <img
                  src="../../assets/images/template-pokeLandingPage/pokeViewer-IMG.webp"
                  class="card-img-top"
                  alt="poke viewer"
                />
                <div class="card-body text-center fs-5">
                  <p>
                    Bekijk en beheer je Pokémon.<br />
                    Ontdek hun krachten en maak je klaar voor het volgende
                    gevecht
                  </p>
                  <a
                    href="./pokeViewer.html"
                    class="btn btn-danger rounded-pill border-1 border-dark text-uppercase fs-3"
                    >start</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <aside class="col-md-3 order-first order-md-last bg-light">
        <div class="aside-content">
          <h3>Jouw Pokémon</h3>
          <h4>Bulbasaur</h4>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
            alt="jouw pokémon"
            width="100%"
            height="100%"
          />
          <h3>Stats</h3>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Attack</th>
                <td>9000</td>
              </tr>
              <tr>
                <th scope="row">Stamina</th>
                <td>9000</td>
              </tr>
              <tr>
                <th scope="row">Defence</th>
                <td>9000</td>
              </tr>
              <tr>
                <th scope="row">Hit Points</th>
                <td>9000</td>
              </tr>
            </tbody>
          </table>
          <h3>Deel jouw Pokémon!</h3>
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
