<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ontdek het ultieme Pokémon-project voor AP Hogeschool, met 6 geweldige features om je Pokémon-ervaring te verbeteren. Leer, speel en verken de wereld van Pokémon op Mew.Tech."
    />
    <meta
      name="keywords"
      content="Pokémon, AP Hogeschool, project, webpagina, features, spel, educatief, Mew.Tech, Pikachu, Charizard, Squirtle, Bulbasaur, Eevee, Pokeball, Mewtwo"
    />
    <meta
      name="author"
      content="Cedric Demaeschalk - Ian Mondelaers - Jesus O'Bulan"
    />
    <title>Mew.Tech - Welkom</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.webp" />
    <link
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f0f0f0;
        background-image: url("../assets/images/grassland.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: "Press Start 2P", cursive;
        padding: 1rem;
        min-height: 100vh;
      }
      .pixel-border {
        border: 4px solid #444;
        box-shadow: 4px 4px 0px #aaa;
      }
      .pixel-button {
        background-color: #ffcc00; /* Pokémon yellow */
        color: #fff;
        border: 2px solid #cc0000; /* Pokémon red */
        text-shadow: 1px 1px 0px #000;
        font-size: 12px;
        transition: transform 0.2s;
      }
      .pixel-button:hover {
        background-color: #ffdd00;
        transform: scale(1.05);
      }
      header {
        background: linear-gradient(to right, #ff0000, #ffcc00);
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      }
      .title {
        font-size: 2.5rem;
        text-shadow: 2px 2px #000;
      }
      .game-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
      }
      @media (min-width: 640px) {
        .game-grid {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
      @media (min-width: 1024px) {
        .game-grid {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }
      .game-item {
        border: 4px solid #444;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: center;
        transition: transform 0.2s, background-color 0.2s;
      }
      .game-item:hover {
        background-color: rgba(255, 204, 0, 0.2); /* Transparent Pokémon yellow */
        transform: scale(1.05);
      }
      .game-item a {
        display: block;
        color: #cc0000; /* Pokémon red */
        text-shadow: 1px 1px 0px #000;
        font-size: 1.25rem;
        text-decoration: none;
        transition: color 0.2s;
      }
      .game-item a:hover {
        color: #ffdd00;
      }
      .game-item img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto 20px;
        transition: transform 0.2s, box-shadow 0.2s;
        box-shadow: 4px 4px 0px #000;
      }
      .game-item img:hover {
        transform: scale(1.05);
        box-shadow: 8px 8px 0px #000;
      }
      .tutorial-box {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid #444;
        box-shadow: 2px 2px 0px #aaa;
        padding: 15px;
        margin-top: 20px;
      }
      .nav-pokemon-img {
      width: 80px; /* Increased size */
      height: 80px; /* Increased size */
      object-fit: contain;
      margin-right: -5px;
      margin-top: -50px;
      margin-bottom: -50px;
    }
    .nav-pokemon-name {
      font-size: 1rem; /* Smaller font size */
    }
    </style>
  </head>
  <body>
    <header class="pixel-border p-4 mb-4">
      <nav
        class="navbar container mx-auto flex flex-col sm:flex-row items-center px-4"
      >
        <div class="flex justify-between items-center w-full sm:w-auto">
          <a class="text-2xl font-bold flex items-center" href="/main">
            <img
              src="/assets/images/logo.webp"
              alt="logo"
              class="h-10 w-10 mr-2"
            />
          </a>
          <% if (selectedPokemon) { %>
            <div class="flex items-center ml-4">
              <img src="<%= selectedPokemon.sprites.front_default %>" alt="<%= selectedPokemon.name %>" class="nav-pokemon-img mr-2" />
              <span class="nav-pokemon-name"><%= selectedPokemon.name %></span>
            </div>
            <% } %>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="hidden w-full lg:flex sm:w-auto mt-4 lg:mt-0 lg:ml-auto"
          id="navbar-default"
        >
          <ul class="flex flex-col lg:flex-row lg:space-x-4 text-white">
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/main">Home</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/battler">Duel</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/catcher">Catch</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/compare">Vergelijk</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/pokeDex">PokéDex</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/pokeGuess">Wie is het?</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/viewer">Mijn Pokémon</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container mx-auto p-4">
    
        <div class="game-grid">
          <div class="game-item">
            <a href="/battler">
              <img
                src="./assets/images/template-pokeLandingPage/pokeBattler-IMG.webp"
                alt="PokéDuel Arena"
              />
              <span>PokéDuel Arena</span>
            </a>
          </div>
          <div class="game-item">
            <a href="/catcher">
              <img
                src="./assets/images/template-pokeLandingPage/pokeCatcher-IMG.webp"
                alt="Pokémon Safari Zone"
              />
              <span>Pokémon Safari Zone</span>
            </a>
          </div>
          <div class="game-item">
            <a href="/compare">
              <img
                src="./assets/images/template-pokeLandingPage/pokeCompare-IMG.webp"
                alt="PokéAnalyse"
              />
              <span>PokéAnalyse</span>
            </a>
          </div>
          <div class="game-item">
            <a href="/pokedex">
              <img
                src="./assets/images/template-pokeLandingPage/pokedex-IMG.webp"
                alt="Pokédex"
              />
              <span>Pokédex</span>
            </a>
          </div>
          <div class="game-item">
            <a href="/pokeGuess">
              <img
                src="./assets/images/template-pokeLandingPage/pokeGuess-IMG.webp"
                alt="Wie is Die Pokémon?"
              />
              <span>Wie is Die Pokémon?</span>
            </a>
          </div>
          <div class="game-item">
            <a href="/viewer">
              <img
                src="./assets/images/template-pokeLandingPage/pokeViewer-IMG.webp"
                alt="Mijn Pokémon"
              />
              <span>Mijn Pokémon</span>
            </a>
          </div>
        </div>
        <div class="container mx-auto py-8">
          <div class="tutorial-box">
            <h2 class="text-2xl font-semibold mb-4">Tutorial</h2>
            <p class="mb-2">
              Welkom bij Mew.Tech! Volg deze stappen om te beginnen:
            </p>
            <ol class="list-decimal list-inside mb-4">
              <li>Klik op een van de spelopties hierboven.</li>
              <li>Volg de instructies op de geselecteerde spelpagina.</li>
            </ol>
          </div>
        </div>
      </div>
    </main>

    <script>
      const button = document.querySelector(
        '[data-collapse-toggle="navbar-default"]'
      );
      const navbarDefault = document.getElementById("navbar-default");

      button.addEventListener("click", function () {
        navbarDefault.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
